Q2. This data set contains details of a houses and the target variable is a continuous variable.
Dataset contains input features and predicting house prices. Find three most significant Principal
components and Construct Linear Regression using these three pcs to predict prices using
Jupyter notebook and Deploy model on local host using Flask. Choose following columns as
independent variable in dataset.

In [185]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [186]:
dataset = pd.read_csv('./SET 19-2.csv')

In [187]:
print(dataset)

        price  area  bedrooms  bathrooms  stories mainroad guestroom basement  \
0    13300000  7420         4          2        3      yes        no       no
1    12250000  8960         4          4        4      yes        no       no
2    12250000  9960         3          2        2      yes        no      yes
3    12215000  7500         4          2        2      yes        no      yes
4    11410000  7420         4          1        2      yes       yes      yes
..        ...   ...       ...        ...      ...      ...       ...      ...
540   1820000  3000         2          1        1      yes        no      yes
541   1767150  2400         3          1        1       no        no       no
542   1750000  3620         2          1        1      yes        no       no
543   1750000  2910         3          1        1       no        no       no
544   1750000  3850         3          1        2      yes        no       no

    hotwaterheating airconditioning  parking prefarea furnishingstatus
0                no             yes        2      yes        furnished
1                no             yes        3       no        furnished
2                no              no        2      yes   semi-furnished
3                no             yes        3      yes        furnished
4                no             yes        2       no        furnished
..              ...             ...      ...      ...              ...
540              no              no        2       no      unfurnished
541              no              no        0       no   semi-furnished
542              no              no        0       no      unfurnished
543              no              no        0       no        furnished
544              no              no        0       no      unfurnished

[545 rows x 13 columns]

In [188]:
dataset.isnull().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [189]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [190]:
dataset['mainroad'].replace(['yes', 'no'],[1, 0], inplace=True)
print(dataset)

        price  area  bedrooms  bathrooms  stories  mainroad guestroom  \
0    13300000  7420         4          2        3         1        no
1    12250000  8960         4          4        4         1        no
2    12250000  9960         3          2        2         1        no
3    12215000  7500         4          2        2         1        no
4    11410000  7420         4          1        2         1       yes
..        ...   ...       ...        ...      ...       ...       ...
540   1820000  3000         2          1        1         1        no
541   1767150  2400         3          1        1         0        no
542   1750000  3620         2          1        1         1        no
543   1750000  2910         3          1        1         0        no
544   1750000  3850         3          1        2         1        no

    basement hotwaterheating airconditioning  parking prefarea  \
0         no              no             yes        2      yes
1         no              no             yes        3       no
2        yes              no              no        2      yes
3        yes              no             yes        3      yes
4        yes              no             yes        2       no
..       ...             ...             ...      ...      ...
540      yes              no              no        2       no
541       no              no              no        0       no
542       no              no              no        0       no
543       no              no              no        0       no
544       no              no              no        0       no

    furnishingstatus
0          furnished
1          furnished
2     semi-furnished
3          furnished
4          furnished
..               ...
540      unfurnished
541   semi-furnished
542      unfurnished
543        furnished
544      unfurnished

[545 rows x 13 columns]

In [191]:
dataset['guestroom'].replace(['yes','no'],[1,0],inplace=True)
print(dataset)

        price  area  bedrooms  bathrooms  stories  mainroad  guestroom  \
0    13300000  7420         4          2        3         1          0
1    12250000  8960         4          4        4         1          0
2    12250000  9960         3          2        2         1          0
3    12215000  7500         4          2        2         1          0
4    11410000  7420         4          1        2         1          1
..        ...   ...       ...        ...      ...       ...        ...
540   1820000  3000         2          1        1         1          0
541   1767150  2400         3          1        1         0          0
542   1750000  3620         2          1        1         1          0
543   1750000  2910         3          1        1         0          0
544   1750000  3850         3          1        2         1          0

    basement hotwaterheating airconditioning  parking prefarea  \
0         no              no             yes        2      yes
1         no              no             yes        3       no
2        yes              no              no        2      yes
3        yes              no             yes        3      yes
4        yes              no             yes        2       no
..       ...             ...             ...      ...      ...
540      yes              no              no        2       no
541       no              no              no        0       no
542       no              no              no        0       no
543       no              no              no        0       no
544       no              no              no        0       no

    furnishingstatus
0          furnished
1          furnished
2     semi-furnished
3          furnished
4          furnished
..               ...
540      unfurnished
541   semi-furnished
542      unfurnished
543        furnished
544      unfurnished

[545 rows x 13 columns]

In [192]:
dataset['hotwaterheating'].replace(['yes','no'],[1,0],inplace=True)
print(dataset)

        price  area  bedrooms  bathrooms  stories  mainroad  guestroom  \
0    13300000  7420         4          2        3         1          0
1    12250000  8960         4          4        4         1          0
2    12250000  9960         3          2        2         1          0
3    12215000  7500         4          2        2         1          0
4    11410000  7420         4          1        2         1          1
..        ...   ...       ...        ...      ...       ...        ...
540   1820000  3000         2          1        1         1          0
541   1767150  2400         3          1        1         0          0
542   1750000  3620         2          1        1         1          0
543   1750000  2910         3          1        1         0          0
544   1750000  3850         3          1        2         1          0

    basement  hotwaterheating airconditioning  parking prefarea  \
0         no                0             yes        2      yes
1         no                0             yes        3       no
2        yes                0              no        2      yes
3        yes                0             yes        3      yes
4        yes                0             yes        2       no
..       ...              ...             ...      ...      ...
540      yes                0              no        2       no
541       no                0              no        0       no
542       no                0              no        0       no
543       no                0              no        0       no
544       no                0              no        0       no

    furnishingstatus
0          furnished
1          furnished
2     semi-furnished
3          furnished
4          furnished
..               ...
540      unfurnished
541   semi-furnished
542      unfurnished
543        furnished
544      unfurnished

[545 rows x 13 columns]

In [193]:
dataset['prefarea'].replace(['yes','no'],[1,0],inplace=True)
print(dataset)

        price  area  bedrooms  bathrooms  stories  mainroad  guestroom  \
0    13300000  7420         4          2        3         1          0
1    12250000  8960         4          4        4         1          0
2    12250000  9960         3          2        2         1          0
3    12215000  7500         4          2        2         1          0
4    11410000  7420         4          1        2         1          1
..        ...   ...       ...        ...      ...       ...        ...
540   1820000  3000         2          1        1         1          0
541   1767150  2400         3          1        1         0          0
542   1750000  3620         2          1        1         1          0
543   1750000  2910         3          1        1         0          0
544   1750000  3850         3          1        2         1          0

    basement  hotwaterheating airconditioning  parking  prefarea  \
0         no                0             yes        2         1
1         no                0             yes        3         0
2        yes                0              no        2         1
3        yes                0             yes        3         1
4        yes                0             yes        2         0
..       ...              ...             ...      ...       ...
540      yes                0              no        2         0
541       no                0              no        0         0
542       no                0              no        0         0
543       no                0              no        0         0
544       no                0              no        0         0

    furnishingstatus
0          furnished
1          furnished
2     semi-furnished
3          furnished
4          furnished
..               ...
540      unfurnished
541   semi-furnished
542      unfurnished
543        furnished
544      unfurnished

[545 rows x 13 columns]

In [194]:
dataset['furnishingstatus'].replace(['furnished','semi-furnished','unfurnished'],[2,1,0],inplace=True)
print(dataset)

        price  area  bedrooms  bathrooms  stories  mainroad  guestroom  \
0    13300000  7420         4          2        3         1          0
1    12250000  8960         4          4        4         1          0
2    12250000  9960         3          2        2         1          0
3    12215000  7500         4          2        2         1          0
4    11410000  7420         4          1        2         1          1
..        ...   ...       ...        ...      ...       ...        ...
540   1820000  3000         2          1        1         1          0
541   1767150  2400         3          1        1         0          0
542   1750000  3620         2          1        1         1          0
543   1750000  2910         3          1        1         0          0
544   1750000  3850         3          1        2         1          0

    basement  hotwaterheating airconditioning  parking  prefarea  \
0         no                0             yes        2         1
1         no                0             yes        3         0
2        yes                0              no        2         1
3        yes                0             yes        3         1
4        yes                0             yes        2         0
..       ...              ...             ...      ...       ...
540      yes                0              no        2         0
541       no                0              no        0         0
542       no                0              no        0         0
543       no                0              no        0         0
544       no                0              no        0         0

     furnishingstatus
0                   2
1                   2
2                   1
3                   2
4                   2
..                ...
540                 0
541                 1
542                 0
543                 2
544                 0

[545 rows x 13 columns]

In [195]:
X = dataset.iloc[:,[1,3,4,5,6,8,10,11,12]].values
Y = dataset.iloc[:,0].values

In [196]:
print(X)

[[7420    2    3 ...    2    1    2]
 [8960    4    4 ...    3    0    2]
 [9960    2    2 ...    2    1    1]
 ...
 [3620    1    1 ...    0    0    0]
 [2910    1    1 ...    0    0    2]
 [3850    1    2 ...    0    0    0]]

In [197]:
print(Y)

[13300000 12250000 12250000 12215000 11410000 10850000 10150000 10150000
  9870000  9800000  9800000  9681000  9310000  9240000  9240000  9100000
  9100000  8960000  8890000  8855000  8750000  8680000  8645000  8645000
  8575000  8540000  8463000  8400000  8400000  8400000  8400000  8400000
  8295000  8190000  8120000  8080940  8043000  7980000  7962500  7910000
  7875000  7840000  7700000  7700000  7560000  7560000  7525000  7490000
  7455000  7420000  7420000  7420000  7350000  7350000  7350000  7350000
  7343000  7245000  7210000  7210000  7140000  7070000  7070000  7035000
  7000000  6930000  6930000  6895000  6860000  6790000  6790000  6755000
  6720000  6685000  6650000  6650000  6650000  6650000  6650000  6650000
  6629000  6615000  6615000  6580000  6510000  6510000  6510000  6475000
  6475000  6440000  6440000  6419000  6405000  6300000  6300000  6300000
  6300000  6300000  6293000  6265000  6230000  6230000  6195000  6195000
  6195000  6160000  6160000  6125000  6107500  6090000  6090000  6090000
  6083000  6083000  6020000  6020000  6020000  5950000  5950000  5950000
  5950000  5950000  5950000  5950000  5950000  5943000  5880000  5880000
  5873000  5873000  5866000  5810000  5810000  5810000  5803000  5775000
  5740000  5740000  5740000  5740000  5740000  5652500  5600000  5600000
  5600000  5600000  5600000  5600000  5600000  5600000  5600000  5565000
  5565000  5530000  5530000  5530000  5523000  5495000  5495000  5460000
  5460000  5460000  5460000  5425000  5390000  5383000  5320000  5285000
  5250000  5250000  5250000  5250000  5250000  5250000  5250000  5250000
  5250000  5243000  5229000  5215000  5215000  5215000  5145000  5145000
  5110000  5110000  5110000  5110000  5075000  5040000  5040000  5040000
  5040000  5033000  5005000  4970000  4970000  4956000  4935000  4907000
  4900000  4900000  4900000  4900000  4900000  4900000  4900000  4900000
  4900000  4900000  4900000  4900000  4893000  4893000  4865000  4830000
  4830000  4830000  4830000  4795000  4795000  4767000  4760000  4760000
  4760000  4753000  4690000  4690000  4690000  4690000  4690000  4690000
  4655000  4620000  4620000  4620000  4620000  4620000  4613000  4585000
  4585000  4550000  4550000  4550000  4550000  4550000  4550000  4550000
  4543000  4543000  4515000  4515000  4515000  4515000  4480000  4480000
  4480000  4480000  4480000  4473000  4473000  4473000  4445000  4410000
  4410000  4403000  4403000  4403000  4382000  4375000  4340000  4340000
  4340000  4340000  4340000  4319000  4305000  4305000  4277000  4270000
  4270000  4270000  4270000  4270000  4270000  4235000  4235000  4200000
  4200000  4200000  4200000  4200000  4200000  4200000  4200000  4200000
  4200000  4200000  4200000  4200000  4200000  4200000  4200000  4200000
  4193000  4193000  4165000  4165000  4165000  4130000  4130000  4123000
  4098500  4095000  4095000  4095000  4060000  4060000  4060000  4060000
  4060000  4025000  4025000  4025000  4007500  4007500  3990000  3990000
  3990000  3990000  3990000  3920000  3920000  3920000  3920000  3920000
  3920000  3920000  3885000  3885000  3850000  3850000  3850000  3850000
  3850000  3850000  3850000  3836000  3815000  3780000  3780000  3780000
  3780000  3780000  3780000  3773000  3773000  3773000  3745000  3710000
  3710000  3710000  3710000  3710000  3703000  3703000  3675000  3675000
  3675000  3675000  3640000  3640000  3640000  3640000  3640000  3640000
  3640000  3640000  3640000  3633000  3605000  3605000  3570000  3570000
  3570000  3570000  3535000  3500000  3500000  3500000  3500000  3500000
  3500000  3500000  3500000  3500000  3500000  3500000  3500000  3500000
  3500000  3500000  3500000  3500000  3493000  3465000  3465000  3465000
  3430000  3430000  3430000  3430000  3430000  3430000  3423000  3395000
  3395000  3395000  3360000  3360000  3360000  3360000  3360000  3360000
  3360000  3360000  3353000  3332000  3325000  3325000  3290000  3290000
  3290000  3290000  3290000  3290000  3290000  3290000  3255000  3255000
  3234000  3220000  3220000  3220000  3220000  3150000  3150000  3150000
  3150000  3150000  3150000  3150000  3150000  3150000  3143000  3129000
  3118850  3115000  3115000  3115000  3087000  3080000  3080000  3080000
  3080000  3045000  3010000  3010000  3010000  3010000  3010000  3010000
  3010000  3003000  2975000  2961000  2940000  2940000  2940000  2940000
  2940000  2940000  2940000  2940000  2870000  2870000  2870000  2870000
  2852500  2835000  2835000  2835000  2800000  2800000  2730000  2730000
  2695000  2660000  2660000  2660000  2660000  2660000  2660000  2660000
  2653000  2653000  2604000  2590000  2590000  2590000  2520000  2520000
  2520000  2485000  2485000  2450000  2450000  2450000  2450000  2450000
  2450000  2408000  2380000  2380000  2380000  2345000  2310000  2275000
  2275000  2275000  2240000  2233000  2135000  2100000  2100000  2100000
  1960000  1890000  1890000  1855000  1820000  1767150  1750000  1750000
  1750000]

In [198]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y, test_size=0.25,random_state=42)

In [199]:
print(X_train)

[[4600    2    1 ...    2    0    1]
 [5640    1    1 ...    0    0    1]
 [3520    1    2 ...    0    1    1]
 ...
 [4500    2    3 ...    1    0    2]
 [4040    1    1 ...    0    0    0]
 [5500    2    4 ...    1    0    1]]

In [200]:
print(X_test)

[[5900    2    2 ...    1    0    0]
 [6500    2    3 ...    0    1    2]
 [4040    1    1 ...    0    0    1]
 ...
 [3650    1    2 ...    0    0    0]
 [3635    1    1 ...    0    0    0]
 [4000    1    1 ...    0    0    1]]

In [201]:
print(Y_train)

[ 5285000  3675000  4200000  2275000  3570000  4620000  4200000  3087000
  3255000  8855000  3640000  7343000  4690000  4305000  3640000  4403000
  4270000  2940000  4795000  8540000  4235000  7700000  3500000  3360000
  4970000  3150000  5530000  5880000  3710000  3640000  8400000  6083000
  4760000  3080000  5243000  7245000  4550000  8575000  8960000  3500000
  6930000  4613000  4340000  4473000  3780000  6300000  5215000  5040000
  4515000  8645000  2660000  3118850  2450000 10850000  6020000  7560000
  4123000  4098500  9100000  7455000  4900000  3423000 12215000  4382000
  3850000  7140000  4970000  2380000  6090000  3710000  4200000  8400000
  4620000  4900000  8463000 10150000  5215000  7420000  6107500  7980000
  5495000  2450000  5950000  3465000  6020000  2450000  4900000  5250000
  3605000  4690000  5600000  5005000  3360000  3290000  4543000  4200000
  3395000  2653000  5652500  3395000  6895000  4270000  4690000  5250000
  5075000  3990000  3325000  2695000  5033000  6615000  6090000  4200000
  5600000  6405000  5565000  3080000  3150000  4480000  4277000  3465000
  4319000  6195000  4025000  6650000  3780000  2380000  5950000  4060000
  3885000  3500000  2852500  4200000  2940000  3920000  3290000  4130000
  8043000  5740000  4515000  4025000  7210000  6090000  4200000  4200000
  4445000  3430000  5600000  4403000  3290000  7962500  3773000  4935000
  3430000  5600000  3150000  5600000  3773000  4025000  5950000  2940000
  6300000  5600000  4585000  3010000  6300000  3150000  4200000  3500000
  5950000  5145000  4900000  4550000  3850000  3920000  3500000  3430000
  3150000  4060000  5943000  3850000  4760000  2485000  4795000  5873000
  2940000  4007500  2135000  2870000  2870000  3493000  3920000  4200000
  3395000  3570000  3255000  6083000  5215000  3815000  3570000  3640000
  4095000  5565000  3150000  4620000  2590000  3780000  5390000  4060000
  5740000  4956000  4480000  4655000  6020000  5950000  3500000  4760000
  3115000  3605000  3836000  5880000  2100000  4235000  2800000  3010000
  6125000  3360000  3675000  5810000  2310000  7560000  5250000  6930000
  4270000  6510000  4550000  5110000  3290000  5460000  9310000  8080940
  8400000  5250000  5600000  3150000  3535000  4767000  6300000  7420000
  4585000  3360000  3780000  3290000  5229000  3220000  7840000  2730000
  3220000  4900000  3500000  4270000  3745000  3500000  4480000  3010000
 11410000  4480000  2590000  6230000  4690000  2590000  4893000  2940000
  5250000  6293000  4200000  4830000  7070000  3465000  7490000  8295000
  4403000  3990000  4900000  2604000  8400000  2835000  4690000  4473000
  3640000  4200000  3360000  5460000  3500000  2940000  5740000  7070000
  5775000  5873000  2275000  9870000  3990000  3850000  7000000  4200000
  9240000  5523000  7875000  3633000  5110000  2100000  4830000  3430000
  4270000  2730000  2835000  3920000  4620000  4900000  4893000  4200000
  2485000  4515000  1960000  3129000  1750000  4200000  3780000  4375000
  3150000  4900000  5460000  7700000  4830000  3500000  5040000  4130000
  4473000  6160000  7350000  3500000 12250000  2660000  3710000  7420000
  3360000  6629000  4900000  8120000  3290000  4410000  3332000  3143000
  3220000  3675000  6419000  3885000  2345000  7350000  3850000  4410000
  4550000  9240000  4095000  6475000  3500000  4340000  5320000  3990000
  1855000  5803000  4165000  2870000  2240000  2653000  4060000  4550000
  5040000  2961000  2520000  7210000  2975000  4515000  8680000  4095000
  3115000  5460000  4305000  5040000  3570000  3430000  2835000  3850000
  4165000  5866000  6265000  3640000  6475000  3115000  3990000  4865000
  3010000  5950000  8750000  6755000  6160000  4340000  3290000  6195000]

In [202]:
print(Y_test)

[ 4060000  6650000  3710000  6440000  2800000  4900000  5250000  4543000
  2450000  3353000 10150000  2660000  3360000  3360000  2275000  2660000
  2660000  7350000  2940000  2870000  6720000  5425000  1890000  5250000
  4193000 12250000  3080000  5110000  9800000  2520000  6790000  3500000
  6650000  2940000  3325000  4200000  4900000  3290000  3500000  2380000
  5495000  3675000  6650000  4907000  3150000  4480000  6580000  5740000
  3003000  1820000  8400000  2450000  4270000  4007500  3234000  1750000
  9800000  2100000  4340000  3045000  3850000  3500000  4753000  3080000
  4550000  6510000  6685000  5110000  4550000  6650000  3640000  5600000
  3780000  6615000  3220000  6650000  4690000  4830000  6860000  2233000
  7035000  4165000  6195000  6510000  1890000  8190000  2660000  4193000
 13300000  9681000  4340000  8645000  3703000  5145000  6440000  5950000
  5810000  5740000  6230000  5600000  3010000  8890000  4900000  5530000
  9100000  3773000  7910000  7350000  5530000  7525000  6300000  3920000
  3430000  3010000  4620000  1750000  3010000  2520000  3710000  3703000
  2450000  4200000  3640000  3640000  5383000  1767150  5250000  3500000
  6790000  3920000  3920000  5810000  5250000  5950000  3500000  2408000
  2660000]

In [203]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(X_train) 
x_test = sc.fit_transform(X_test)

In [204]:
from sklearn.decomposition import PCA
pca = PCA(n_components=3)
X_train = pca.fit_transform(X_train)
X_test = pca.fit_transform(X_test)
explained_variance = pca.explained_variance_ratio_
print(explained_variance)

[9.99999352e-01 1.97693083e-07 1.75989006e-07]

In [205]:
from sklearn.linear_model import LinearRegression
regression = LinearRegression()
regression.fit(X_train,Y_train)

LinearRegression()

In [206]:
Y_pred = regression.predict(X_test)
print(Y_pred)

[5068371.19210998 6536706.51928168 3476763.53938472 4631499.65918287
 3660220.74578152 4083081.471572   5373721.80637794 5250806.88056628
 3145467.18037383 3196870.1345128  8439933.21353574 3236807.03461229
 3091189.03678933 3973742.859955   4110869.22054441 4538243.31139043
 3720220.65312432 4891679.83367108 4846115.88336815 4072132.49000964
 6247072.33367052 4449640.30082268 3150235.52903673 4350314.64670841
 5248127.2016347  6845187.1265722  3016338.17310131 4555323.35459399
 7749445.67897548 4231738.30170219 4706422.52981511 4016851.98785487
 6329729.19851196 5122071.52411106 4355395.75383679 4961855.03143375
 4888230.00671555 3870899.08228233 3018286.71630465 4454718.24630368
 5001933.60539571 3144464.09533169 6512405.74578678 4760428.38981933
 4299952.24152428 3993620.63391275 6949193.75761953 4686324.66414956
 4487081.83092463 3281452.47544683 6323759.002822   3117273.98975311
 4981723.56916959 4399006.39611566 4010628.52987797 3260659.6649369
 6956580.43039694 3633966.5407071  5071951.17877784 3196103.23900835
 3831567.94973367 3760537.55381279 4698322.20131271 3548464.45468432
 4952453.91669242 4588715.77130717 7430209.32400971 3816222.34191881
 7675313.68562418 4644025.62482984 4068727.50221019 5998741.43174228
 5173092.16044189 6189670.00400129 3021285.93444828 4699919.38829447
 4543705.88447023 3803179.06790329 4444068.95559505 3662131.09860028
 6822537.13705304 4680397.73537901 4870954.44512425 5885148.94914331
 3421334.77262678 6346790.00020474 2892343.57032216 4324850.658413
 7144522.38586039 5880403.23608766 3610750.05587501 5102680.57526188
 4112822.65212393 4067908.35724772 6830435.73242181 4480274.36864268
 6645170.63943402 6680683.8439906  5693928.62247419 4633070.83053977
 4425239.61368262 5369695.79587932 4877994.36960934 4690469.73047964
 5263616.29925649 5509078.85660849 7113372.24331324 5423022.86645457
 5017305.9474758  7321130.22320493 5216860.30354585 3944836.32487813
 3788757.85641798 4044042.09343345 4634537.25586973 4074418.06030207
 3503087.1475278  2927158.81569879 4078207.68338336 3985339.18323646
 4380765.94688446 5076185.59566866 4197123.33296163 4231738.30170219
 4330172.54382626 2897984.25401526 4030425.28135604 4216314.84960296
 7699953.20076546 5478748.16241886 4023980.3218105  5555378.43077953
 5911787.60835857 7480604.04926518 4013666.12656483 3065369.464951
 3464613.15263727]

In [207]:
import pickle

In [208]:
print("[Info] Saving Model")
saving_model = pickle.dump(regression,open('linearmodel.pkl','wb'))

[Info] Saving Model

In [209]:
model = pickle.load(open('./linearmodel.pkl','rb'))
model.predict(X_test)

array([5068371.19210998, 6536706.51928168, 3476763.53938472,
       4631499.65918287, 3660220.74578152, 4083081.471572  ,
       5373721.80637794, 5250806.88056628, 3145467.18037383,
       3196870.1345128 , 8439933.21353574, 3236807.03461229,
       3091189.03678933, 3973742.859955  , 4110869.22054441,
       4538243.31139043, 3720220.65312432, 4891679.83367108,
       4846115.88336815, 4072132.49000964, 6247072.33367052,
       4449640.30082268, 3150235.52903673, 4350314.64670841,
       5248127.2016347 , 6845187.1265722 , 3016338.17310131,
       4555323.35459399, 7749445.67897548, 4231738.30170219,
       4706422.52981511, 4016851.98785487, 6329729.19851196,
       5122071.52411106, 4355395.75383679, 4961855.03143375,
       4888230.00671555, 3870899.08228233, 3018286.71630465,
       4454718.24630368, 5001933.60539571, 3144464.09533169,
       6512405.74578678, 4760428.38981933, 4299952.24152428,
       3993620.63391275, 6949193.75761953, 4686324.66414956,
       4487081.83092463, 3281452.47544683, 6323759.002822  ,
       3117273.98975311, 4981723.56916959, 4399006.39611566,
       4010628.52987797, 3260659.6649369 , 6956580.43039694,
       3633966.5407071 , 5071951.17877784, 3196103.23900835,
       3831567.94973367, 3760537.55381279, 4698322.20131271,
       3548464.45468432, 4952453.91669242, 4588715.77130717,
       7430209.32400971, 3816222.34191881, 7675313.68562418,
       4644025.62482984, 4068727.50221019, 5998741.43174228,
       5173092.16044189, 6189670.00400129, 3021285.93444828,
       4699919.38829447, 4543705.88447023, 3803179.06790329,
       4444068.95559505, 3662131.09860028, 6822537.13705304,
       4680397.73537901, 4870954.44512425, 5885148.94914331,
       3421334.77262678, 6346790.00020474, 2892343.57032216,
       4324850.658413  , 7144522.38586039, 5880403.23608766,
       3610750.05587501, 5102680.57526188, 4112822.65212393,
       4067908.35724772, 6830435.73242181, 4480274.36864268,
       6645170.63943402, 6680683.8439906 , 5693928.62247419,
       4633070.83053977, 4425239.61368262, 5369695.79587932,
       4877994.36960934, 4690469.73047964, 5263616.29925649,
       5509078.85660849, 7113372.24331324, 5423022.86645457,
       5017305.9474758 , 7321130.22320493, 5216860.30354585,
       3944836.32487813, 3788757.85641798, 4044042.09343345,
       4634537.25586973, 4074418.06030207, 3503087.1475278 ,
       2927158.81569879, 4078207.68338336, 3985339.18323646,
       4380765.94688446, 5076185.59566866, 4197123.33296163,
       4231738.30170219, 4330172.54382626, 2897984.25401526,
       4030425.28135604, 4216314.84960296, 7699953.20076546,
       5478748.16241886, 4023980.3218105 , 5555378.43077953,
       5911787.60835857, 7480604.04926518, 4013666.12656483,
       3065369.464951  , 3464613.15263727])

In [210]:
from sklearn.metrics import mean_squared_error, r2_score

In [215]:
mse = mean_squared_error(Y_test,Y_pred)
r2 = r2_score(Y_test,Y_pred)
print(f"Mean Squared Error: {mse:.2f}")
print(f"R-Squared: {r2:.2f}")

Mean Squared Error: 2134418228772.73
R-Squared: 0.54

In [219]:
prediction = regression.predict(X_test)[0]
print(f"Predicted price: {prediction:.2f}")

Predicted price: 5068371.19